{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!--content goes below-->
<main style="margin-top: 58px">
  <div class="container pt-4">
    <form method="POST" action="">
     {% csrf_token %}
      {{form | crispy}}
      <div class="btns-row">
        <div class="form-group btns align-btns">
         <button class="btn btn-success"><i class="fa fa-check padd"></i> Submit</button>
         <button class="btn btn-dark " type="reset"><i class="fa fa-times padd"></i> Cancel</button>
        </div>
      </div>
    </form>
    
  </div>
</main>
{% endblock content %}