{% extends 'base.html' %}
{% load static %}
{% block content %}
<main style="margin-top: 58px">
    <div class="container pt-4">
    <!--/.Navbar-->
        <div class="table-responsive text-nowrap">  
             <div class="row px-3">
              <div class="col-md-12 mb-4">
                <a class="btn btn-dark" style="float: right;" href="{% url 'createloan' %}" ><i class="fa fa-plus"></i> Create Loan Account</a>
                <h2 class="text-center">Loan Summary</h2>
              </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Loan Id</th>
                    <th scope="col">Client</th>
                    <th scope="col">Application Date</th>
                    <th scope="col">Issue Date</th>
                    <th scope="col">Loanpurpose Description</th>
                    <th scope="col">Loan Amount</th>
                    <th scope="col">Loan Interest</th>
                    <th scope="col">Status</th>
                    {% if user.user_roles == "Supervisor"  %}
                    <th scope="col">Loan Officer</th>
                    {% endif %}
                    </tr>
                </thead>
                {% for loan in loans.all %}
                <tbody>  
                    <th scope="row">{{forloop.counter}}</th>
                    <th scope="row"><a href="{% url 'loandetails' loan.id %}">{{loan.account_no}}</a></th>
                    <td>{{loan.client.first_name}} {{loan.client.last_name}}</td>
                    <td>{{loan.opening_date}}</td>
                    <td>{{loan.loan_issued_date}}</td>
                    <td>{{loan.loanpurpose_description}}</td>
                    <td>{{loan.loan_amount}}</td>
                    <td>{{loan.interest_charged}}</td>
                    <td>{{loan.status}}</td>
                    {% if user.user_roles == "Supervisor"  %}
                    <td>{{loan.created_by}}</td>
                    {% endif %} 
                </tbody>
                 {% endfor %}
            </table>
        </div>
        <!--Section: Products v.3-->
        </div>
</main>

{% endblock content %}